
@charset "utf-8";

#TABLE{
    text-align:left;
    margin: auto;
    float:left;
}
#DIV_FORM{
    margin-left:300px;
     display: inline-block;
    text-align: center;
    margin-top: 600px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 300px;
}
#TABLE2{
    text-align:left;
    width:150px;
    height:150px;
}
#TABLE2 tr
{
    height:24px;
}
#TABLE2 span{
    display:none;
} 
#TABLE tr{
    padding:10px;
}